*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

header{
  background: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}
header h1{
  color: #FFFFFF;
  font-weight: 100;
}